body {
    font-family: Onest, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("pattern1.png");
    background-repeat: repeat;
}

:root {
    --gold-accent: #F2BB55;
}

h2 {
    color: var(--gold-accent);
}

.login-login-container {
    width: 400px;
    padding: 20px;
    background: rgb(14, 23, 41);
    background: linear-gradient(180deg, rgba(14, 23, 41, 1) 0%, rgba(9, 15, 29, 1) 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px 0px 0px 15px;
}

.login-image {
    border-radius: 0px 15px 15px 0px;
    width: 240px;
    height: 370px;
    background-image: url('login_books.jpg');
    background-size: 80%;

}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;

}

.form-group input {
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    border: 2px solid var(--gold-accent);
    border-radius: 28px;
    background-color: transparent;
    color: var(--gold-accent);
    text-align: center;
}

.form-group input:focus {
    border-color: #fff;
    color: var(--gold-accent);
}

.form-group input:hover {
    border-color: #fff;
    color: var(--gold-accent);
    transition: 0.5s;
}

.form-group button {
    width: 100%;
    font-size: 16px;
    border: 2px solid var(--gold-accent);
    border-radius: 28px;
    display: inline-block;
    padding: 13px 20px;
    cursor: pointer;
    background-color: transparent;
    color: var(--gold-accent);
    line-height: 14px;
}

.form-group button:hover {
    border-color: #fff;
    color: #fff;
    transition: 0.5s;
}

.error {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: gray;
}