body {
    font-family: Onest, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("pattern1.png");
    background-repeat: repeat;
}

:root {
    --gold-accent: #F2BB55;
}

header {
    display: flex;
    justify-content: center;
}

.top-menu {
    display: flex;
    gap: 75px;
    line-height: 50px;
    padding: 0 10px;
    border: 2px solid var(--gold-accent);
    border-radius: 0 0 24px 24px;
}

.top-menu button {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: var(--gold-accent);
}

.top-menu button:hover {
    color: #fff;
    transition: 0.5s;
}

#add_button {
    background-color: transparent;
    color: var(--gold-accent);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

button:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}

button {
    margin: auto;
    padding: 10px 20px;
    color: var(--gold-accent);
    background-color: transparent;
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

button:disabled:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 24px;
    transition: 0.5s;
}

button:disabled {
    background-color: transparent;
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

a {
    color: var(--gold-accent);
    text-decoration: none;
}

a:hover {
    color: #fff;
    transition: 0.5s;
}

#delete_button {
    background-color: transparent;
    color: var(--gold-accent);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

#delete_button:disabled {
    color: gray;
    border-color: gray;
    transition: 0.5s;
}

#delete_button:active {
    background-color: transparent;
    color: var(--gold-accent);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

#delete_button:hover:enabled {
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}

.submit {
    background-color: transparent;
    color: var(--gold-accent);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
    line-height: 14px;
    padding-top: 10px;
    margin-top: 10px;
    justify-content: left;
}

.table-menu {
    display: flex;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
    background: rgb(14, 23, 41);
    background: linear-gradient(180deg, rgba(14, 23, 41, 1) 0%, rgba(9, 15, 29, 1) 100%);

}

.main-window {
    width: 1200px;
    padding: 0px 0px 0px 0px;
    margin: 40px auto 0 auto;
    background-color: gray;
    border-radius: 0px;
}

.main-window button {
    padding: 10px;
    border-radius: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

table,
th,
td {
    border: 1px solid black;
}

tr {
    cursor: pointer;
}

tr.selected {
    background-color: #ffcccc;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--gold-accent);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: rgb(14, 23, 41);
    background: linear-gradient(180deg, rgba(14, 23, 41, 1) 0%, rgba(9, 15, 29, 1) 100%);
    padding: 15px 20px;
    border-radius: 24px;
    border: 2px solid var(--gold-accent);
    width: 400px;
}

.modal-edit-title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.close {
    padding-left: 390px;
    line-height: 2px;
    text-decoration: none;
    font-size: 36px;
    color: var(--gold-accent);
}

.close:hover {
    color: #fff;
}

.submit-cont {
    background-color: transparent;
    color: var(--gold-accent);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
    justify-content: center;
    justify-self: center;
    width: 200px;
}

.submit-cont:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}

input {
    justify-self: right;
    color: #fff;
    line-height: 4px;
    background-color: transparent;
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

select {
    display: flex;
    flex-direction: row;
    justify-self: right;
    color: #fff;
    line-height: 10px;
    background: rgb(14, 23, 41);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
}

.student-window {
    width: 1200px;
    padding: 0px 0px 0px 0px;
    margin: 40px auto 0 auto;
    background: rgb(14, 23, 41);
    background: linear-gradient(180deg, rgba(14, 23, 41, 1) 0%, rgba(9, 15, 29, 1) 100%);
    border: 2px solid var(--gold-accent);
    border-radius: 24px;
    color: #fff;
    padding: 10px 20px;
}

.group-select-form {
    margin-bottom: 25px;
}