header {
    display: flex;
    justify-content: center;
}
.top-menu {
    background-color: lightgray;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
}
.top-menu button{
    padding: 10px;
    background-color: lightgray;
    border: none;
}
#delete_button {

}
.table-menu {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.main-window {
    width: 800px;
    padding: 30px;
    margin: 100px auto 0 auto;
    background-color: gray;
    border-radius: 30px;
}
.main-window button {
    padding: 10px;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
table, th, td {
    border: 1px solid black;
}
tr {
    cursor: pointer;
}
tr.selected {
    background-color: #ffcccc;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Показать модальное окно при таргете */
.modal:target {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close {
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    color: #000;
}

.close:hover {
    color: red;
}